body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #9ac5f4;
    /* Blue transparent background */
}

.custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.3);
    padding: 20px;
}

.custom-navbar .navbar-brand {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.custom-navbar .navbar-toggler {
    border: none;
    background: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}

.custom-navbar .navbar-toggler-icon {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
}

.custom-navbar .navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.custom-navbar .navbar-nav .nav-item {
    margin-left: 20px;
}

.custom-navbar .navbar-nav .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.custom-navbar .navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center {
    position: relative;
    text-align: center;
}

h1 {
    position: relative;
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    position: relative;
    font-size: 18px;
    margin-bottom: 30px;
}

.buttons {
    position: relative;
    display: flex;
    justify-content: center;
}

.button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border-radius: 4px;
    margin: 0 10px;
}

.button:hover {
    position: relative;
    background-color: #555;
}
.navbar{
    background-color: #9ac5f4;
    display: flex;
    opacity: 0.7;
    height: 50px;
  }
  .navdiv {
    padding: 5px;
    margin:10px;
    font-size: 20px;
    color: white;
  }
  .navdiv a{
    padding: 2px;
    margin:0px;
    font-size: 20px;
    color: white;
    text-decoration: none;
  }